<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TonicJS</title>
  </head>
  <body ng-app="TonicApp" ng-cloak>
    <md-toolbar layout="row" class="md-toolbar-tools">
      <md-button class="menu md-icon-button" hide-gt-sm ng-click="app.toggleList()" aria-label="Show User List">
        <md-icon>menu</md-icon>
        <md-icon md-font-icon="menu"></md-icon>
      </md-button>
      <h1>Tonic JS</h1>
    </md-toolbar>
    <div ng-controller="TonicController as vm" ng-cloak >
      <md-button class="md-raised md-primary" ng-click="vm.randomizeCard()">Random card</md-button>
      <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
          <tonic-card card="vm.actualCard" chords="vm.chords"></tonic-card>
        </div>
        <md-list flex>
          <md-subheader class="md-no-sticky">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Or choose a card </label>
              <input ng-model="vm.searchCard">
              <md-icon> search </md-icon>
            </md-input-container>
          </md-subheader>
          <md-list-item class="md-3-line" ng-repeat="item in vm.cards | filter:vm.searchCard" ng-click="vm.choseCard(item)">
            <div class="md-list-item-text" layout="column">
              <h3>{{ item.libelle }}</h3>
              <p>{{ item.description }}</p>
            </div>
            <md-divider ></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </div>    
    <script src="lib/bundle.js" charset="utf-8"></script>
  </body>
</html>
