<md-card>
	<md-card-title>
      <md-card-title-text>
        <span class="md-headline">
        	{{actualCard.libelle}}
    	</span>
        <span class="md-subhead">
			<p>
        		{{actualCard.description}}
    		</p>
        </span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media"></div>
      </md-card-title-media>
	</md-card-title>
	<md-card-actions layout="row" layout-align="start center">
	    <md-button ng-repeat="chord in chords">{{chord}}</md-button>
	</md-card-actions>
</md-card>